@model LaboraGTv0._1.Models.Area

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div class="ui segment vertical">
    <div class="ui container">
        <div class="ui header block">
            <div class="ui breadcrumb">
                <a href="/" class="section"><i class="icon home "></i></a>
                <i class="right angle icon divider"></i>
                <a href="/Areas" class="section">Areas</i></a>
                <i class="right angle icon divider"></i>
                <div class="section active">Agregar Area</div>
            </div>
        </div>
        <h1 class="ui header">Nuevo area</h1>
        <div class="ui divider"></div>
        <form method="post" class="ui form container text">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "ui error message" })

            <div class="field required">
                <label>Descripción de area</label>
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @required = "" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "ui error messager" })

            </div>
            <div class="ui divider hidden"></div>
            <button type="submit" class="ui button fluid teal">
                <i class="icon save"></i>
                Completar
            </button>
        </form>

    </div>
</div>

