@model LaboraGTv0._1.Models.TipoDescuento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoDescuento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTipoDescuento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
