
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutAdmin.cshtml";
   
}

<div class="ui container">
    <div class="ui divider hidden"></div>
    <h1 class="ui header">@ViewBag.msg</h1>
    <h1 class="ui header">@ViewBag.Message</h1>

</div>

